
.btTypeOne {
  position: relative; width: fit-content;
  display: flex; align-items: center;
  margin: auto;
}
.btTypeOne p {}
.btTypeOne span {
  position:relative;
  display: block; width: 2.5rem; height: 20px;
  transition: .3s
}
.btTypeOne span::after {
  content: '';
  height: 8px; width: 8px;
  position: absolute; 
  right: 0; top: 0rem; bottom: 0;
  margin: auto 0;
  border: 1px solid var(--cGrOne); border-left: 0; border-bottom: 0;
  transform: rotateZ(45deg)
}
.btTypeOne span::before {
  content: '';
  position: absolute; 
  right: 0; top: 0rem; bottom: 0;
  margin: auto 0;
  width: 2rem; height: 1px;
  background-color: var(--cGrOne);
}

.btTypeOne:hover span::before,
.btTypeOne:active span::before,
.btTypeOne:focus span::before {
  background-color: #fff;
}
.btTypeOne:hover span::after,
.btTypeOne:active span::after,
.btTypeOne:focus span::after{
  border-color: #fff;
}