:root {
  --inner-content-width : 600px;
  --cGrOne : #B6E2DD;
  --cGrTwo : #85AEA6;
  --cGrTwoOp : #85aea6bd;
  --cGrThree : #34534D;
  --cGrThreeOp: #34534de3;
  --cGrFour : #DEF54D;
  --cGyOne : #D9E5E3;
  --cGyTwo: #E8E8E8;

  --fsSmall : .8rem;
  --fsNormal : 1rem;
  --fsMedium : 1.2rem;
}
html {
  background-color: var(--cGrTwo);
}
.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

ol,
ul,
li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  text-decoration: none;
  transition: .3s;
}
a:active,
a:hover,
button:active,
button:hover {
  transform: translateY(-5px);
}
input[type="radio"] + label,
input {
}
input:focus-visible {
  outline: 1px solid var(--cGrThree);
}
input[type="number"] {
  /* 모든 브라우저에서 스타일 초기화 */
  -moz-appearance: textfield;
  appearance: textfield;

  /* Webkit 브라우저 (Chrome, Safari)에서 스타일 초기화 */
  -webkit-appearance: none;
  margin: 0;

  /* Firefox에서의 추가 스타일 초기화 */
  width: auto;
}

/* Firefox에서 버튼이 나타나지 않도록 처리 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* IE에서 버튼이 나타나지 않도록 처리 */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Calendar 아이콘 숨기기 (Chrome, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Calendar 아이콘 숨기기 (Firefox) */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}
option:focus-visible,
select:focus-visible,
option:active,
option:focus,
select:active,
select:focus {
  appearance: none;
  stroke: none;
  outline: none;
}
/* 자동완성 활성화 시 배경 색상 수정 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000s ease-in-out 0s;
  background-color: var(--cGrThreeOp) !important;
}
input[type="radio"] + label,
input {
  display: inline-block;
  width: 100%;
  margin-right: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: #000;
  background-color: var(--cGyTwo);
  box-sizing: border-box;
}
input::placeholder,
/* input::-moz-placeholder,
input::-ms-placeholder, */
input::-webkit-placeholder {
  color: var(--cGrTwo);
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  cursor: pointer;
}
input[type="radio"]:checked + label {
  color: var(--cGyTwo);
  background-color: var(--cGrThree);
  border: 1px solid var(--cGrThree);
}

main,
.inner-content {
  width: var(--inner-content-width);
  margin: 0 auto; 
  /* padding: 20px 15px 30px; */
  padding: 0 2rem;
}

section {
  margin: 2rem 0;
}

.btTypeFour,
.btTypeThree,
.btTypeTwo,
.btTypeOne {
  display: inline-block;
  padding: 1rem 1.6rem;
  background: linear-gradient(150deg, #34534de0 40%, #b6e2dde0 170%);
  background-color: var(--cGrThree);
  color: var(--cGrOne);
  border: 1px solid var(--cGrThree);
  border-radius: 2rem;
  box-shadow: 0px 3px 5px 1px #34534d50;
  transition: .3s;
}
.btTypeTwo {
  background: linear-gradient(150deg, #000000e0 40%, #DEF54D 170%);
}
.btTypeThree {
  background: var(--cGrThree);
}
.btTypeFour {
  color: var(--cGrThree);
  background: var(--cGrTwo);
}

.select {
  appearance: none;
  height: auto;
  padding: .7rem 1.6rem;
  margin: 0;
  border: 0;
  cursor: pointer;
  background: linear-gradient(150deg, #34534de0 40%, #b6e2dde0 170%);
  background-color: var(--cGrThree);
  color: var(--cGrOne);
  border: 1px solid var(--cGrThree);
  border-radius: 2rem;
  box-shadow: 0px 3px 5px 1px #34534d50;
  transition: .3s;
  font-size: var(--fsSmall);
}

.btTypeTwo:hover,
.btTypeTwo:active,
.btTypeOne:hover,
.btTypeOne:active {
  background-color: black;
  color: white;
  box-shadow: 0px 3px 8px 2px #34534d91;
}
.select:hover {
  color: white;
  box-shadow: 0px 3px 8px 2px #34534d91;
  background-color: black;
}

.btTypeFour:hover,
.btTypeFour:active {
  background-color: var(--cGrTwoOp);
  transform: none;
}
.btTypeThree:hover,
.btTypeThree:active {
  background-color: var(--cGrThreeOp);
  transform: none;
}
.select option {
  padding: .7rem 0;
  background-color: transparent;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
.button-wrapper button {
  margin-right: 1rem;
  font-weight: bold;
  width: 100%;
}
.button-wrapper button:last-child{
  margin-right: 0;
}
.button-wrapper button[type="submit"]:disabled {
  opacity: .3;
}
.button-wrapper button[type="submit"]:disabled:active ,
.button-wrapper button[type="submit"]:disabled:hover {
  background: var(--cGrThree);
}

@media (max-width: 640px ) {
  :root {
    --inner-content-width : 90%;
  }
  .inner-content {
    padding: 0;
  }
}

